@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.visible {
  display: block;
}

.display-flex-home {
  display: flex;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}


.hidden {
  display: none;
}


