.visible {
    display: block;
  }
   
  .hidden {
    display: none;
  }

  .home{
    text-align: center;
    font-size: 45px;
  }

  .entra{
    transform: scale(3);
  }

  .accedi{
    padding: 30px;
    transform: scale(3);
  }

  .submit{
    @media only screen and (min-width: 1150px) {
      margin-top: 150px;
      margin-left: 1100px;
      transform: scale(3);
    }

    @media only screen and (max-width: 1150px) {
      transform: scale(3);
      margin-top: 90px;
      margin-left: 350px;
    }
  }

  .email{
    text-align: center;
    padding: 10px;
    transform: scale(2);
  }

  .password{
    text-align: center;
    padding: 10px;
    transform: scale(2);
  }

  .username{
    text-align: center;
    padding: 10px;
    transform: scale(2);
  }

  .button{
    border-radius: 50%;
  }

  .indietro{
    background-color: red;
    display: inline-block;
    color: white;
  }
  .seleziona{
    padding-left: 50px;
  }